.service-card{
    /* height: 350px; */
    overflow: hidden;
    
    
    
}
.service-card img{
    width: 50%;
    margin: auto;
}
.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
  }
